.countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.countries-list{
    display: flex;
    justify-content: space-around;
    border: 4px solid #EEE657;
    background-color: #344146;
}